body{
  scroll-padding-top: 5%;
  box-sizing: inherit;
}
header{
  display:inline-block;
  padding-left:10%;
  height: 30px;
  overflow-y: hidden;
  margin-bottom: -3px;
  padding-top: 20px;
  margin-top: -20px;
  background-color: white;
  padding-bottom: 50px;
  align-content: center;
}
.item-HD1{
  display: block;
  padding: 8px;
  font-size:20px;
  text-decoration: none;
  color:black;
}
.fixed{
  position: fixed;
  top:0
  ;
  bottom: 0;
  left: 0;
  right: 0;
}
.container {
  display: flex;
  width:100%;
}
.item-RL2 {
  display: block;
  padding: 8px;
  font-size:20px;
  text-decoration: none;
  color:black;
}
.flex-container>div>a:hover {
  box-shadow: 0 3px blue;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;

}

.flex-container > div {
  margin: 10px;
  text-align: center;
  font-size: 25px;
}
nav{
  padding-left: 13%;
}
#Home_Content{
text-align: center;
  margin-top: 100px;
  padding: 30px;
  font-size: xx-large;
  width:100%;
}
H2 >strong{
  color: blue;
}
.diamond {
  width: 100px;
  height: 100px;
  background: #b3d4fc;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.item-HM1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-HM2{
  font-size: large;
  transform: rotate(45deg);
  position: relative;
  transform-origin: 0 100%;
  color: blue;
  -webkit-animation-name: dow;
  -webkit-animation-duration: 2s;
  animation-name: dow;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes dow {
  0%{left: 10px; top:8px}
  100%{left: -8px;top:30px}
}
@-webkit-keyframes dow {
  0%{left: 0; top:0}
  100%{left: 0;top:15px}
}
.overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  opacity: .0;
  width: 50%;
  background-color: #555555;
  z-index: -1;
}
#logo{
  padding-top: 20px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
}
.effect_charter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}.n_ {
   border-right: 0.2rem solid #ccc;
 }

@media(max-width: 800px){
  .effect_charter{
    padding: 0 1rem;
  }
}
@media(max-width:500px) {
  h2{
    font-size: 1.5rem;
  }
}
.write_Char{
  color:Blue;
}
.main{
  width:100%
}
#About_Content{
padding-top: 1px;
margin-top: 50px;
}
  #about_left{
text-align: right;
    width: 50%;
  }
#about_right{
  padding-top: 50px;
  width: 50%;
  padding-left: 5%;
  font-size: x-large;
}
#about_right>div>div{
  display: inline-flex;
text-height: 15px;

}
.info{
  width:30%;
  font-weight: bold;
  margin-top: 2%;
 }

.btn-DowLoad{
  background-color: blue;
  color: black;
  border-radius: 40px;
  width: 220px;
  height: 70px;
border-color: aqua;
  font-size: 15px;
}
.btn-DowLoad:hover {
  background-color: blue;
  color: white;
  border-color: blue;
}
.grp-btn-img{
  margin-left: 0%;
  align-items: center;
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 80px;
}
.grp-btn-img>img{
  width: 15%;
  height: 70px;
  padding: 3%;
}
.R-L-1{
  width: 14%;
  margin: 1%;
  font-weight: bold;
  text-decoration: none;
  color: blue;
}
.R-L-1:visited{
  color: black;
}
#about_top{
  display: flex;
  margin-top: 70px;
}
.Resume-left{
  width: 20%;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  padding: 5px;
  background-color: white;
  left: 10%;
}


.R-L-1:hover{
  color: blue;

}
.Resume-left>ul{
  align-content: center;
}
.layout-rsm{
  display: flex;
  margin-top: 50px;
  padding-top: 50px;
}
.Resume-right{
margin-left: 15%;

}
.Resume-right>section>H2{
font-weight: bold;
  color: blue;
  font-size: xxx-large;
}
.Resume-right>section>p>strong{
color: blue;
  margin-left: 35px;
  font-size: x-large;
  margin-bottom: 0px;
}
.Resume-right>section>h3{
  padding-top: 0;
  margin-top: 0px;
  margin-left: 35px;
  font-size: xx-large;
  margin-bottom: 2px;
}
.Resume-right>section>span{
  font-size: x-large;
  margin-left: 35px;
  margin-top: 1px;
  font-weight: bold;
}
.Resume-right>section>h6{
  margin-left: 35px;
  margin-top: 0px;
  font-size: 20px;
  color: #999999;
  font-height: 15px;
  font-weight: unset;
 }
 #Education{
   padding-top: 50px;
 }
 #Experience{
   padding-top: 50px;
 }
 #Skills{
   padding-top: 50px;
 }
 #Awards{
   padding-top: 50px;
 }

.single-chart {
  width: 33%;
  justify-content: space-around ;
  padding-left: 25%;
}
.circular-chart {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;

}
.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}
.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.orange .circle {
  stroke: #ff9f00;
}
.circular-chart.green .circle {
  stroke: #4CC790;
}
.circular-chart.blue .circle {
  stroke: #3c9ee5;
}
.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
.set-border-skill{
  width: 90%;
  height: 300px;
}
.background-white{
  width: 100%;

  background-color: white;
  height: 100%;
}
.background-white>h3{
  text-align: center;
  font-weight: bold;
}
.row{
  display: flex;
}
.item-SK2{
  margin-top: 10%;
  text-align: center;
  width: 100%;
  border-color: black;
  border-right: 1px;
}
.item-SK3{
  width: 50%;
  text-align: center;
  border-right: 2px solid #413a3c;
}
.item-SK4{
  width: 50%;
  text-align: center;
}
.item-SK5{
  width: 50%;
}
.col-100{
  width: 100%;
}
.contents-services{
  width: 60%;
  height: 80%;
  align-items: center;
  margin-top: 20%;
}
.col-20{
  width: 20%;
  height: 200px;
  -webkit-box-shadow:  rgba(0,0,0,.15)!important;
}
#left_skills{
  width: 45%;

}
#right_skills{
  margin-left: 5%;
  width: 45%;
}
.skill{
  width: 100%;
}
.align-text-left{
  text-align: left;
}
.align-text-right{
  text-align: right;
}
.progress-skill{
  width: 100%;
}
.align-text-left{
  text-align: left;
}
.align-text-right{
  text-align: right;
}
.align-text-center{
  text-align: center;
}
.text-bold{
  font-weight: bold;

}
.t-xl{
  font-size: x-large;
}
.t-xxl{
  font-size: xx-large;
}
.t-xxxl {
  font-size: xxx-large;
}
.item-SV1{
  width: 30%;
  margin: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-SV2{
  width:  80%;
  height: 300px;
  background: white;
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.item-SV3{
  width: 80%;
  height: 90%; margin:
  auto ;
  padding-top: 5%;
  text-decoration: none;

}
.item-SV2:hover{
  background-color: #368bff;
  color: black;
}
.item-SV3:hover{
  text-decoration: none;
  color: black;
}
.item-SV4{
  margin-top: 20%;
  font-size: 20px;
}
.mgl-5{
  margin-left: 5%;
}
#Services_Content{
  padding-top: 50px;
}
#Projects_Content{
  padding-top: 50px;
}
.img-PJ1{
  background-image: url("img/pj1.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0;
}
.img-PJ2{
  background-image: url("img/pj2.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0;
}
.img-PJ3{
  background-image: url("img/pj3.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0;
}
.img-PJ4{
  background-image: url("img/pj4.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0;
}
.img-PJ5{
  background-image: url("img/pj5.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0;
}
.img-PJ6{
  background-image: url("img/pj6.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0;
}
.item-PJ1{
  margin: 0; padding: 0; height: 350px
}
.item-PJ2{
  width: 33%; height: 350px;
}
.item-PJ3{
  width: 100%;
  height: 100%;
  padding-top:15%;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item-PJ3:hover{
  background: #16eeff ;
  width: 100%;
  height: 290px;
  opacity: 0.5;

}
.item-PJ4{
  width: 100%;
  margin: auto;
  text-decoration: none;
  color: white;
}
.item-PJ4:hover{
  text-decoration: none;
  color: white;
  opacity: 1;
}
.item-PJ5:hover{
  text-decoration: none;
}
.item-PJ6{
  text-align: center;
  width: 25%;
  height: 200px;
}
.item-PJ7{
  width: 80%;
  margin: auto;
  height: 80%;
  background: white;
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.item-PJ8{
  padding-top: 30px
}
#MyBlog_Content{
  padding-top: 50px;
}
.img-MB1{
  background:url("img/mbl1.png") no-repeat;
  cursor:pointer;
  border:none;
  width:100%;
  height:100%;
}

.img-MB1:active  /* use Dot here */
{
  background:url("img/mbl1.png") no-repeat;
}
.img-MB2{
  background:url("img/mbl2.png") no-repeat;
  cursor:pointer;
  border:none;
  width:100%;
  height:100%;
}

.img-MB1:active  /* use Dot here */
{
  background:url("img/mbl2.png") no-repeat;
}
.img-MB3{
  background:url("img/mbl3.png") no-repeat;
  cursor:pointer;
  border:none;
  width:100%;
  height:100%;
}

.img-MB3:active  /* use Dot here */
{
  background:url("img/mbl3.png") no-repeat;
}

.item-MB0{margin-top: 0 ;
  width: 30%;
  height: 300px;
}
.item-MB1{
  width: 100%;
height: 100%;
}
.img-MB1:hover{
  text-decoration: none;
}
.item-MB2{
  margin-top: 15px;
}
.item-MB2>a:hover{
  color: #3c9ee5;
}
.item-MB3{
  font-size: large;
  font-weight: bold;
  color: blue;
  display: flex;
}
.item-MB3>span{
  margin-top: 9px;
}
.item-MB3>a{
  font-size: large;
  color: blue;
}
.item-MB{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-MB4{
  font-weight: lighter;
  font-size: 20px;
  color: black;
  opacity: .5;
}
.item-MB5{
  margin-top: 400px;
  background-image: url("img/mbl4.webp");
  background-size: cover;
  height: 400px;
}
.item-MB6{


  width: 100%;
  height: 100%;
}
.item-MB8{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: NONE;
}
.btn-heri{
  background-color: blue;
  color: white;
  border-radius: 40px;
  width: 220px;
  height: 70px;
  border-color: blue;
  font-size: 15px;
  opacity:1;
}
.btn-heri:hover{
  background: blue;
  color: black;
}
.item-MB7{
  width: 40%;margin-left: 30%; text-align: center;
  color: white;
  padding-top: 50px;
}
.item-MB7>h2>span{
  color: greenyellow;
}
#Contact_Content{
  padding-top: 50px;
}
.item-CT0{
  margin-left: 2%;
  margin-top: 100px;
}
.item-CT1{
  width: 25%; height: 300px;
}
.item-CT2{
  background: white;
  -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  text-align: center;
  padding-top: 20px;
  width: 80%;
  height: 80%;
}
.item-CT3{ margin-left: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 50%;
}
.item-CT3>i{
  font-size: 20px; color: white;
}
.item-CT2>p>a{
  color: blue;
}
#left_CT{
  width: 48%;
  height: 700px;
}
#right_CT{
  width: 48%;
  height: 700px;
}
input[type=text], select {
  width: 80%;
  height: 60px;
  padding: 12px 20px;
  margin-left: 10%;
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 80%;
  height: 250px;
  margin-top: 30px;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  resize: none;
}
#right_CT>button{
  margin-top: 30px;
  margin-left: 10%;
  font-weight: bold;
}
#Footer{
  background: black;
  color: white;
  min-height: 350px;
}

.item-FT1{
  width: 25%;
}
.item-FT2{
  padding: 5%;
}
.item-FT3{
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #999999;
  color: white;
}
.item-FT4{
  color:#999999;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
}
.mgl-15{
  margin-left: 15%;
}
.item-FT5{
  padding-left: 2px;
}
.item-FT6{
  height: 20px;
}
.item-FT7{
  color:#999999;
  width: 80%;
  font-size: 18px;
  text-decoration: none;

}
.item-FT8{
height: 50px;
}
#FT-About{
  padding-left: 10px;
}
#FT-About>p{
  margin-top: 20px;
  font-size: 20px;
  color:#999999;
}
.item-FT9{
  margin-right: 15px;
}
#FT-Bot{

  text-align: center;
  color: #999999;
  font-size: 18px;
}

